.line {
    position: relative;
    width: 200px;
    height: 8px;
    background: lightgray;

}

.process {
    background: #90ec46;
    transition: width .5s ease;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.num {
    font-family: Georgia, serif;
    position: absolute;
    width: 100%;
    top: -2px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.wrap {
    margin-top: 5px;
}